<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
<title>我的收藏_韩汀社区</title>
<link href="./css/common.css" rel="stylesheet"><!--该页面的所有css-->
<script type="text/javascript" src="./js/jquery-1.8.3.js" ></script><!--js 1.8.3-->
<body>
<!--header-->
<div class="header" id="botop">
		<div class="h_top">
		<div class="b_box">
			<div class="top_nav">
				<a href="javascript:void(0);">首页</a><span class="ht_line"></span>
				<a href="javascript:void(0);">商家入驻</a><span class="ht_line"></span>
				<a href="javascript:void(0);">帮助中心</a><span class="ht_line"></span>
				<a href="javascript:void(0);">关于韩汀</a><span class="ht_line"></span>
				<a href="javascript:void(0);">联系我们</a>
			</div>
			
			<div class="top_right login_right">
				<a href="javascript:void(0);">@小北墩</a>
				<span class="ht_line"></span><a href="javascript:void(0);">退出</a>
            	<span class="ht_line"></span><a href="javascript:void(0);"><img src="./images/e_i.png" alt=""></a>
			</div>
		</div>
	</div>

    <div class="b_box nav_header community_header">
		<a class="logo my_logo" href="javascript:void(0);">御品韩汀</a>
		<ul class="member_nav_ul">
        	<li id="li1"><a href="javascript:void(0);">商家中心</a><span class="my_nav_i"></span></li>
        	<li class="cur" id="li2"><a href="javascript:void(0);">个人中心</a><span class="my_nav_i"></span></li>
            <li id="li3"><a href="javascript:void(0);">账户设置</a><span class="my_nav_i"></span></li>
            <li id="li4"><a href="javascript:void(0);">消息</a><span class="my_nav_i"></span></li>
        </ul>
	</div>
</div>
<!--头部结束-->



<div class="bg_c4 pt2">
	<div class="b_box">
    	<div class="collection_top">
        	<div class="fr">
				<form method="post">
                <div class="search_sec"><input type="text" name="findkey" placeholder="输入服务名称或商家名称搜索" class="s_sec_input"><input type="submit" value="" class="s_sec_btn"></div>
				<input type="hidden" name="t" value="2">
				<input type="hidden" name="catid" value="0">
				<input type="hidden" name="__hash__" value="d521385d365034b576593e82e91379e4_7ff6a615a5473f83b4ac3104d6c81634"></form>
            </div>
            <div class="collection_tab">
			<a href="javascript:void(0);">服务收藏</a>
			<a href="javascript:void(0);" class="cur">商家收藏</a>
			</div>
        </div>
        <!--collection_box-->
        <div class="collection_box">
            <ul class="pre_about_info collection_nav">
                <li class="cur"><a href="http://yphting.zglxkj.com/index.php/Home/Member/favs/t/2.html">全部</a></li>
				<li class="last"><a href="http://yphting.zglxkj.com/index.php/Home/Member/favs/catid/5/t/2.html">留学中介<span class="pre_asp">1</span></a></li>            </ul>
<script>$('.collection_nav li:last').addClass('last');</script>            
            <ul class="us_ul_list collection_list_ul">
							<li class="col_410">
                	<dl class="sj_user_dl">
                        <dt><img src="./我的收藏_韩汀社区_files/100" alt="666" class="user_photo_img">
												</dt>
                        <dd>
                            <h2 class="user_name">666</h2>
                            <div class="star_pl ml0 nflo"><span class="star_pl_sp" style="width:60%;"></span></div>
							                            <ul class="jp_ul_list">
                                <li>留学达人</li>                            </ul>
                            <a href="http://yphting.zglxkj.com/index.php/Home/Homepage/index/sid/258/act/shop.html" target="_blank" class="collection_btna"><span class="collection_asp csap1"></span>进入店铺</a>
                            <a href="javascript:void(0);" class="collection_btna collection_btndel" rel="410"><span class="collection_asp csap2"></span>取消关注</a>
                        </dd>
                    </dl>
                </li>
					<li class="col_410">
                	<a href="http://yphting.zglxkj.com/index.php/Home/Service/detail/id/574.html">
                	<div class="per_pic"><img src="./我的收藏_韩汀社区_files/20180920115435-72745.png" alt="sfa"></div>
                    <div class="per_text">
                    	<h3>sfa</h3>
                        <dl class="collection_bt_dl">
                        	<dt><div class="i_3">6</div></dt>
                        </dl>
                    </div>
                    </a>
                </li><li class="col_410">
                	<a href="http://yphting.zglxkj.com/index.php/Home/Service/detail/id/573.html">
                	<div class="per_pic"><img src="./我的收藏_韩汀社区_files/20180920115054-94628.png" alt="777"></div>
                    <div class="per_text">
                    	<h3>777</h3>
                        <dl class="collection_bt_dl">
                        	<dt><div class="i_3">6</div></dt>
                        </dl>
                    </div>
                    </a>
                </li><li class="col_410">
                	<a href="http://yphting.zglxkj.com/index.php/Home/Service/detail/id/572.html">
                	<div class="per_pic"><img src="./我的收藏_韩汀社区_files/20180920114327-66023.png" alt="666"></div>
                    <div class="per_text">
                    	<h3>666</h3>
                        <dl class="collection_bt_dl">
                        	<dt><div class="i_3">6</div></dt>
                        </dl>
                    </div>
                    </a>
                </li>                    <div class="clear"></div>            </ul>
            
            <!--page-->
            <div class="page">
                <div class="nav"><a class="page_prev prevdisabled" href="javascript:;">上一页</a> <span class="cur">1</span> <a class="page_next nextdisabled" href="javascript:;">下一页</a></div>            </div>
            <!--page end-->
            
            <div class="service_recs">服务推荐</div>
            <div id="service_recs" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
                <div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 6000px; left: 0px; display: block;"><div class="owl-item" style="width: 300px;"><div class="item">
                	<ul class="us_ul_list">
                        <li>
                            <a href="http://yphting.zglxkj.com/index.php/Home/Service/detail/id/552.html" target="_blank">
                            <div class="per_pic"><img src="./我的收藏_韩汀社区_files/20180508044003-50892.jpg" alt="爱爱爱"></div>
                            <div class="per_text">
                                <h3>爱爱爱</h3>
                                <dl class="star_user_dl fl">
                                    <dt><img src="./我的收藏_韩汀社区_files/100(1)" alt="校园资源共享" class="star_user_photo"></dt>
                                    <dd>
                                        <div class="star_user_name_s"><h3 class="star_user_name">校园资源共享</h3></div>
                                    </dd>
                                </dl>
                                <div class="fr i_3">12</div>
                                <div class="clear"></div>
                            </div>
                            </a>
                        </li>
                    </ul>
                </div></div><div class="owl-item" style="width: 300px;"><div class="item">
                	<ul class="us_ul_list">
                        <li>
                            <a href="http://yphting.zglxkj.com/index.php/Home/Service/detail/id/536.html" target="_blank">
                            <div class="per_pic"><img src="./我的收藏_韩汀社区_files/20180410071750-75825.jpeg" alt="北村韩屋村"></div>
                            <div class="per_text">
                                <h3>北村韩屋村</h3>
                                <dl class="star_user_dl fl">
                                    <dt><img src="./我的收藏_韩汀社区_files/20180506110841-67573.jpg" alt="浊酒倾觞de店铺" class="star_user_photo"></dt>
                                    <dd>
                                        <div class="star_user_name_s"><h3 class="star_user_name">浊酒倾觞de店铺</h3></div>
                                    </dd>
                                </dl>
                                <div class="fr i_3">1500</div>
                                <div class="clear"></div>
                            </div>
                            </a>
                        </li>
                    </ul>
                </div></div><div class="owl-item" style="width: 300px;"><div class="item">
                	<ul class="us_ul_list">
                        <li>
                            <a href="http://yphting.zglxkj.com/index.php/Home/Service/detail/id/484.html" target="_blank">
                            <div class="per_pic"><img src="./我的收藏_韩汀社区_files/20180112035819-37014.jpg" alt="华城行宫"></div>
                            <div class="per_text">
                                <h3>华城行宫</h3>
                                <dl class="star_user_dl fl">
                                    <dt><img src="./我的收藏_韩汀社区_files/100(2)" alt="ゝ浅默淡殇ヽde店铺" class="star_user_photo"></dt>
                                    <dd>
                                        <div class="star_user_name_s"><h3 class="star_user_name">ゝ浅默淡殇ヽde店铺</h3></div>
                                    </dd>
                                </dl>
                                <div class="fr i_3">2500</div>
                                <div class="clear"></div>
                            </div>
                            </a>
                        </li>
                    </ul>
                </div></div><div class="owl-item" style="width: 300px;"><div class="item">
                	<ul class="us_ul_list">
                        <li>
                            <a href="http://yphting.zglxkj.com/index.php/Home/Service/detail/id/478.html" target="_blank">
                            <div class="per_pic"><img src="./我的收藏_韩汀社区_files/20180109051754-18231.jpg" alt="吃货一日游"></div>
                            <div class="per_text">
                                <h3>吃货一日游</h3>
                                <dl class="star_user_dl fl">
                                    <dt><img src="./我的收藏_韩汀社区_files/20170430042114-13691.jpg" alt="■ˉ苏〃筱萌◇◆ " class="star_user_photo"></dt>
                                    <dd>
                                        <div class="star_user_name_s"><h3 class="star_user_name">■ˉ苏〃筱萌◇◆ </h3></div>
                                    </dd>
                                </dl>
                                <div class="fr i_3">1200</div>
                                <div class="clear"></div>
                            </div>
                            </a>
                        </li>
                    </ul>
                </div></div><div class="owl-item" style="width: 300px;"><div class="item">
                	<ul class="us_ul_list">
                        <li>
                            <a href="http://yphting.zglxkj.com/index.php/Home/Service/detail/id/471.html" target="_blank">
                            <div class="per_pic"><img src="./我的收藏_韩汀社区_files/20171220034527-66092.jpeg" alt="几句话高规格花花"></div>
                            <div class="per_text">
                                <h3>几句话高规格花花</h3>
                                <dl class="star_user_dl fl">
                                    <dt><img src="./我的收藏_韩汀社区_files/20180113013907-60472.jpg" alt="暖暖哒" class="star_user_photo"></dt>
                                    <dd>
                                        <div class="star_user_name_s"><h3 class="star_user_name">暖暖哒</h3></div>
                                    </dd>
                                </dl>
                                <div class="fr i_3">1</div>
                                <div class="clear"></div>
                            </div>
                            </a>
                        </li>
                    </ul>
                </div></div><div class="owl-item" style="width: 300px;"><div class="item">
                	<ul class="us_ul_list">
                        <li>
                            <a href="http://yphting.zglxkj.com/index.php/Home/Service/detail/id/470.html" target="_blank">
                            <div class="per_pic"><img src="./我的收藏_韩汀社区_files/20171220034427-19586.jpeg" alt="机关干部沟沟壑壑"></div>
                            <div class="per_text">
                                <h3>机关干部沟沟壑壑</h3>
                                <dl class="star_user_dl fl">
                                    <dt><img src="./我的收藏_韩汀社区_files/20180113013907-60472.jpg" alt="暖暖哒" class="star_user_photo"></dt>
                                    <dd>
                                        <div class="star_user_name_s"><h3 class="star_user_name">暖暖哒</h3></div>
                                    </dd>
                                </dl>
                                <div class="fr i_3">3</div>
                                <div class="clear"></div>
                            </div>
                            </a>
                        </li>
                    </ul>
                </div></div><div class="owl-item" style="width: 300px;"><div class="item">
                	<ul class="us_ul_list">
                        <li>
                            <a href="http://yphting.zglxkj.com/index.php/Home/Service/detail/id/469.html" target="_blank">
                            <div class="per_pic"><img src="./我的收藏_韩汀社区_files/20171220034327-52814.jpeg" alt="很简洁聚集"></div>
                            <div class="per_text">
                                <h3>很简洁聚集</h3>
                                <dl class="star_user_dl fl">
                                    <dt><img src="./我的收藏_韩汀社区_files/20180113013907-60472.jpg" alt="暖暖哒" class="star_user_photo"></dt>
                                    <dd>
                                        <div class="star_user_name_s"><h3 class="star_user_name">暖暖哒</h3></div>
                                    </dd>
                                </dl>
                                <div class="fr i_3">2</div>
                                <div class="clear"></div>
                            </div>
                            </a>
                        </li>
                    </ul>
                </div></div><div class="owl-item" style="width: 300px;"><div class="item">
                	<ul class="us_ul_list">
                        <li>
                            <a href="http://yphting.zglxkj.com/index.php/Home/Service/detail/id/468.html" target="_blank">
                            <div class="per_pic"><img src="./我的收藏_韩汀社区_files/20171220034144-40690.jpeg" alt="旅游景点介绍"></div>
                            <div class="per_text">
                                <h3>旅游景点介绍</h3>
                                <dl class="star_user_dl fl">
                                    <dt><img src="./我的收藏_韩汀社区_files/20180113013907-60472.jpg" alt="暖暖哒" class="star_user_photo"></dt>
                                    <dd>
                                        <div class="star_user_name_s"><h3 class="star_user_name">暖暖哒</h3></div>
                                    </dd>
                                </dl>
                                <div class="fr i_3">1</div>
                                <div class="clear"></div>
                            </div>
                            </a>
                        </li>
                    </ul>
                </div></div><div class="owl-item" style="width: 300px;"><div class="item">
                	<ul class="us_ul_list">
                        <li>
                            <a href="http://yphting.zglxkj.com/index.php/Home/Service/detail/id/401.html" target="_blank">
                            <div class="per_pic"><img src="./我的收藏_韩汀社区_files/20170612124834-26284.jpg" alt="时蕴整形外科"></div>
                            <div class="per_text">
                                <h3>时蕴整形外科</h3>
                                <dl class="star_user_dl fl">
                                    <dt><img src="./我的收藏_韩汀社区_files/20170430042114-13691.jpg" alt="■ˉ苏〃筱萌◇◆ " class="star_user_photo"></dt>
                                    <dd>
                                        <div class="star_user_name_s"><h3 class="star_user_name">■ˉ苏〃筱萌◇◆ </h3></div>
                                    </dd>
                                </dl>
                                <div class="fr i_3">18</div>
                                <div class="clear"></div>
                            </div>
                            </a>
                        </li>
                    </ul>
                </div></div><div class="owl-item" style="width: 300px;"><div class="item">
                	<ul class="us_ul_list">
                        <li>
                            <a href="http://yphting.zglxkj.com/index.php/Home/Service/detail/id/400.html" target="_blank">
                            <div class="per_pic"><img src="./我的收藏_韩汀社区_files/20170612080515-23154.jpg" alt="泰迪熊珍藏馆/테디베어팜"></div>
                            <div class="per_text">
                                <h3>泰迪熊珍藏馆/테디베어팜</h3>
                                <dl class="star_user_dl fl">
                                    <dt><img src="./我的收藏_韩汀社区_files/20170430042114-13691.jpg" alt="■ˉ苏〃筱萌◇◆ " class="star_user_photo"></dt>
                                    <dd>
                                        <div class="star_user_name_s"><h3 class="star_user_name">■ˉ苏〃筱萌◇◆ </h3></div>
                                    </dd>
                                </dl>
                                <div class="fr i_3">12</div>
                                <div class="clear"></div>
                            </div>
                            </a>
                        </li>
                    </ul>
                </div></div></div></div>                
            <div class="owl-controls clickable"><div class="owl-buttons"><div class="owl-prev">prev</div><div class="owl-next">next</div></div></div></div>            
            
        </div>
        <!--collection_box end-->
        
	</div>
</div>
<div class="b_box">
		<!--ad-->
	<div class="ad_box2">
	<a href="http://yphting.zglxkj.com/index.php/Home/Member/favs/t/2.html"><img src="./我的收藏_韩汀社区_files/20180414123932-28064.jpg" alt="底部广告 说吧"></a>	</div>
	<!--ad end-->
	<a href="http://yphting.zglxkj.com/index.php/Home/Member/seller.html" class="footer_text">
	<h2 class="index_h2_title c_0">加入我们<span class="c_1">•</span>招募韩国商家、华人</h2>
	<div class="bg_ic_1">招募韩国商家、海外留学生、华人兼司机、导游</div>
	<div class="bt_btn_d"><span class="btn_a_more bs_bt_a">商家入驻</span></div>
	</a></div>
<script src="./我的收藏_韩汀社区_files/owl.carousel.js.下载"></script>
<!--底部-->
<div class="footer community_footer_dl">
	<dl class="footer_dl">
		<dt>
		<div class="footer_ewm_box"><img src="./images/footer_ewm.png" alt=""></div>
			<span class="ft_ewm_name">御品韩汀</span>
		</dt>
		<dd>
			<p class="flink">
				<a href="javascript:void(0);">商家入驻</a>|<a href="javascript:void(0);">帮助中心</a>|<a href="javascript:void(0);">人才招聘</a>|
				<a href="javascript:void(0);">联系我们</a>|<a href="javascript:void(0);">网站地图</a>|<a href="javascript:void(0);">使用条款</a>
			</p>
			<p>湘ICP备16017200号-2 | 地址：湖南省株洲市天元区丽景滨江二栋2502号 |网站负责人：夏先生 |   邮编：412000</p>
			<p>官方QQ：3119683838 | 微信公众号：御品韩汀 | 官网邮箱：3119683838@qq.com | 官方热线电话：0731-2286-7673</p>
			<p>Copyright © 钟大佬 版权所有</p>		
		</dd>
	</dl>
</div>
<!--底部 结束-->

<!--右侧 nav-->
<ul class="right_nav">
	<li><a href="javascript:void(0);" class="rn_tel">客服电话</a></li>
	<li><a href="javascript:void(0);" class="rn_wx">官方微信</a></li>
	<li><a href="javascript:void(0);" class="rn_kf">在线客服</a></li>
</ul>
<!--右侧 nav 结束-->

</body></html>